.message-container {
    padding: 10px;
  }
  
  .message {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-content {
    margin-top: 5px;
  }
  

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Set the aspect ratio based on the video dimensions */
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  