/* BEGIN CODE HERE */

/*Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-product {
  width: 1200px;
  /* background-color: aqua; */
}

.title {
  margin: 20px 0;
}

.btn-save {
  margin: 0 2rem 2rem 0;
}

.input-fields {
  width: 350px;
}

footer {
  height: 100px;
  /* background-color: blueviolet; */
}

/* END CODE HERE */
